:root {
  --primary-color: #f2eed8;
  --secondary-color: #7babd4;
  --border-primary-color: #595f63;
  --header-font: Montserrat;
  --paragraph-font: "Playfair Display";
  --cta-font: "Source Sans 3";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

h2, h3 {
  font-family: var(--header-font);
  text-align: center;
}

.prod-process h3 {
  font-weight: 500;
}

p {
  font-family: var(--paragraph-font);
}

#nav-bar {
  display: flex;
  justify-content: space-around;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #595f63;
  background-color: var(--secondary-color);
  margin-top: 0;
}

#header-img {
  border-radius: 50px;
  padding: 5px;
}

#nav-links {
  /*border: 1px solid black;*/
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--cta-font);
  color: #f5f9ff;
  font-weight: 700;
}

#nav-links li a {
  text-decoration: none;
  color: #f5f9ff;
  transition: 0.2s;
}

#nav-links li a:hover {
  font-weight: 800;
  /*text-decoration: underline;*/
  background-color:  #18007a;
  border-radius: 8px;
  padding: 8px;
  color: #eeedf2;
}

main {
  margin-top: 185px;
}

section {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 85%;
}

#video {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

#about {
  border: 1px solid black;
  background: linear-gradient(
    90deg,
    #75bdff,
    #adf0ff,
    #fff
  );
  padding: 6px;
  border-radius: 25px;
  box-shadow: -3px 3px 8px #000;
}

#about p {
  text-align: center;
  font-weight: 480;
}

#video-suggestion, #signup-prompt {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  font-family: var(--cta-font);
}

#our-clients {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
  /*border: 1px solid black;*/
}

.brand {
  background-color: #fff;
  border: 1px solid black;
  height: 275px;
  /*width: 250px;  Add a fixed width to each brand container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo {
  width: 80%;
  height: 230px;
}

#process {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-evenly;
  row-gap: 12px;
}

.prod-process {
  background-color: #fff;
  border: 1px solid #22156e;
}

.prod-process p {
  font-size: 1rem;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
}

.prod-process hr {
  /*width: 70%;*/
  margin-top: 1px;
  margin-bottom: 4px;
  margin-right: auto;
  margin-left: auto;
}

#form {
  background-color: #f5faf9;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
  padding: 10px;
}

label {
  display: block;
  margin: 1px;
  font-family: var(--paragraph-font);
  font-size: 1.2rem;
}

input {
  border-radius: 5px;
  height: 35px;
  width: 250px;
  font-size: 1rem;
  padding: 2.5px;
}

.submit-button {
  display: flex;
  align-items: center;
}

#submit {
  /*background-color: #7babd4;*/
  border-radius: 0;
  background-color: var(--secondary-color);
  font-family: var(--cta-font);
  font-weight: 700;
  font-size: 1.5rem;
}

#hidden-label {
  visibility: hidden;
}

.form-pair {
  /*border: 1px solid navy;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
}

@media screen and (max-width: 480px) {
  #process {
    display: grid;
    grid-template-columns: 94%;
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  header {
    overflow: auto;
  }

  #nav-links {
    min-width: 315px;
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1.1rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  #our-clients {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }

  .brand {
    width: 175px;
  }

  p {
    font-size: 0.9rem;
  }

  #video {
    width: 375px;
    height: 211px;
  }

  .prod-process hr {
    width: 98%;
  }

  #form {
    display: grid;
    grid-template-columns: 90%;
  }
}

@media screen and (min-width: 600px) {
  #nav-links {
    min-width: 65%;
    font-size: 1.2rem;
  }

  #nav-links li a:hover {
    padding: 2px;
  } 

  h2 {
    font-size: 2.4rem;
    margin-bottom: 1.1rem;
  }

  h3 {
    font-size: 1.4rem;
  }
  
  p {
    font-size: 1rem;
  }

  #video {
    width: 450px;
    height: 254px;
  }

  .prod-process hr {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  #nav-links {
    min-width: 60%;
    font-size: 1.4rem;
  }

  h2 {
    font-size: 2.6rem;
    margin-bottom: 1.3rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .brand {
    width: 220px;
  }

  p {
    font-size: 1.1rem;
  }

  #video {
    width: 500px;
    height: 282px;
  }

  .prod-process hr {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  #nav-links {
    min-width: 45%;
    font-size: 1.6rem;
  }

  h2 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }

  /*section {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }*/

  p {
    font-size: 1.2rem;
  }

  .brand {
    width: 250px;
  }

  #video {
    width: 560px;
    height: 315px;
  }

  #form {
    width: 820px;
    margin-right: auto;
    margin-left: auto;
  }
}