:root {
  --primary-color: #f2eed8;
  --secondary-color: #7babd4;
  --border-primary-color: #595f63;
  --header-font: Montserrat;
  --paragraph-font: "Playfair Display";
  --cta-font: "Source Sans 3";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

h2 {
  font-family: var(--header-font);
  text-align: center;
}

p {
  font-family: var(--paragraph-font);
}

@media screen and (min-width: 600px) {
  #nav-links {
    min-width: 65%;
    font-size: 1.2rem;
  }

  #nav-links li a:hover {
    padding: 2px;
  }
}

@media screen and (min-width: 768px) {
  #nav-links {
    min-width: 60%;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  #nav-links {
    min-width: 45%;
    font-size: 1.6rem;
  }

  h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }

  section {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  p {
    font-size: 1.1rem;
  }
}

#navbar {
  display: flex;
  justify-content: space-around;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #595f63;
  background-color: var(--secondary-color);
  margin-top: 0;
}

#header-img {
  border-radius: 50px;
  padding: 5px;
}

#nav-links {
  border: 1px solid black;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--cta-font);
  /*font-size: 1.8rem;*/
  color: #f5f9ff;
  font-weight: 700;
}

#nav-links li a {
  text-decoration: none;
  color: #f5f9ff;
  transition: 0.2s;
}

#nav-links li a:hover {
  font-weight: 800;
  /*text-decoration: underline;*/
  background-color:  #18007a;
  padding: 5px;
  color: #eeedf2;
}

main {
  margin-top: 185px;
}

section {
  margin-bottom: 30px;
}

#video {
  display: block;
  margin: 0 auto;
}

#about {
  /*border: 1px solid black;*/
  background: linear-gradient(
    90deg,
    #75bdff,
    #adf0ff,
    #fff
  );
  padding: 6px;
  border-radius: 25px;
  box-shadow: -3px 3px 8px #000;
}

#about p {
  text-align: center;
  font-weight: 480;
}